.navbar{
    background-color: darkblue;
    color: white;
    position: fixed;
    width: 100%;
    font-size: 20px;
    box-shadow: 0 3px 6px black, 0 3px 6px #999;

}

ul {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 95%;
    padding: 14px 16px;
}
li {
    float: left;
    text-align: center;
    width: 33%;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

